mixin main-nav(props={})
  -
    const links = props.links;

  nav.main-nav(class=allMods)&attributes(attributes)#mainNav
    +toggler("Открыть меню", "mainNav", "main-nav--expanded")#toggler
    ul.main-nav__list
      each menuItem in links
        +main-nav-item(menuItem)

mixin main-nav-item(item)
  li
    a(href=item.url)= item.name
