mixin main-nav(props)
  -

  nav.main-nav(class=allMods)&attributes(attributes)#mainNav
    +toggler("Открыть меню", "headerMenu", "header--opened").main-nav__toggler#toggler
    .main-nav__toolbar
      .main-nav__toolbar-section.main-nav__toolbar-section--speed
        .main-nav__button-wrap
          button.button.button--toolbar(type="button") up
          button.button.button--toolbar(type="button") down
        .main-nav__speed-text
            span 1
            | x
