mixin main-nav(props)
  -

  nav.main-nav(class=allMods)&attributes(attributes)#mainNav
    +toggler("Открыть меню", "headerMenu", "header--opened").main-nav__toggler#toggler
    .main-nav__toolbar
      .main-nav__toolbar-section.main-nav__toolbar-section--speed.js-toolbar
        .main-nav__button-wrap
          button.button.button--sheen.main-nav__button.main-nav__button--up.js-speed-up(type="button" data-multiplier="up")
            +icon('icon-down-arrow', 35, 30)
          button.button.button--sheen.main-nav__button.main-nav__button--down.js-speed-down(type="button" data-multiplier="down")
            +icon('icon-down-arrow', 35, 30)
        .main-nav__speed-text.js-speed-text
            span 1
            | x
        .main-nav__caption
          span speed
    .main-nav__list
      each item in mainNav.links
        li.main-nav__item(class= (item.hasHeart === 'true') ? 'main-nav__item--heart' : null)
          a.main-nav__link.button.button--sheen.js-info-tabs-btn(href="#" data-modal=item.dataModal data-content=item.dataContent) !{item.name}
            if item.hasHeart
              +icon('icon-heart', 15, 15)
