extends ../base/layout.pug

block data
  include ../data/main-nav.data.pug
  include ../data/solar.data.pug
  include ../data/description.data.pug

block variables
  -
    const title = "SOLAR";
    const currentPage = "main"; //- для остальных страниц пишем либо пустую строку, либо индекс

    const sky = {
      startCount: 2000,
      colors: [0, 60, 240],
    };

block append head
  //- используйте только для шрифта находящегося на первом экране
  link(rel="preload", href="fonts/big-shoulders-display-400.woff2", as="font", crossorigin="anonymous")
  link(rel="preload", href="fonts/montserrat-400.woff2", as="font", crossorigin="anonymous")

block nav
  +main-nav(mainNav)

block main
  main
    +sky(sky)
    +description(descriptionData)
    .solar
      .solar__inner
        +sun(sunImage)
        +orbit(mercury)
          +planet(mercury)
        +orbit(venus)
          +planet(venus)
        +orbit(earth)
          +planet(earth)
            +satellite(earth)
        +orbit(mars)
          +planet(mars)
            +satellite(mars)
        .asteroid-belt.centered(data-speed="1679")
        +orbit(jupiter)
          +planet(jupiter)
            +satellite(jupiter)
        +orbit(saturn)
          +planet(saturn, true)
            +satellite(saturn)
        +orbit(uranus)
          +planet(uranus, true)
            +satellite(uranus)
        +orbit(neptune)
          +planet(neptune)
            +satellite(neptune)
        +orbit(pluto)
          +planet(pluto)

block modals
  +modal("modal--feedback")
    +modal-feedback()
