.modal-info {
  color: $color-white;
}

.modal-info__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  font-family: $font-family--title;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
}

.modal-info__list {
  @include list-reset;
}

.modal-info__item {
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }
}

.modal-info__content {
  padding: 0 20px;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;

    & + p {
      margin-top: 10px;
    }
  }
}

.modal-info__slider {
  margin-bottom: 10px;

  .swiper-container {
    width: 100%;
    height: auto;
    max-height: 500px;
  }

  .swiper-wrapper {
    @include list-reset;
  }

  .swiper-slide {
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include mobile {
      border-radius: 0;
    }
  }

  .swiper-pagination {
    bottom: 0;
    padding: 10px 0;
  }
}
