.solar {
  position: relative;
  z-index: $solar-z;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;

  @include mobile {
    overflow: hidden;
  }
}

.solar__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
  transform: translate(-35%, -50%);
  overflow: hidden;

  @include laptop {
    transform: translate(-40%, -50%) scale(0.8);
  }

  @include tablet {
    transform: translate(-40%, -50%) scale(0.6);
  }

  @include mobile {
    transform: translate(-50%, -45%) scale(0.5);
    overflow: scroll;
  }

  @media (max-width: 470px) {
    left: -250px;
    top: -100px;
    transform: scale(0.5);
  }
}
