.solar {
  position: relative;
  z-index: $solar-z;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;

  @include mobile {
    overflow-x: scroll;

    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.solar__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: transform 0.1s linear;

  @include tablet {
    transform: translate(-50%, -50%) scale(0.7);
  }

  @include mobile {
    // top: auto;
    // bottom: -250px;
    left: 237px;
    transform: translate(-50%, -44%) scale(0.5);
  }
}
