// typography

@function rem($size) {
  @return $size / 16 * 1rem;
}

@mixin typography($font-size, $line-height) {
  font-size: rem($font-size);
  line-height: rem($line-height);
}

// styles

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  display: block;
  border: none;
  padding: 0;
  background-color: $color-transparent;
  cursor: pointer;
}

@mixin transition {
  transition: all $default-transition-settings;
}

@mixin interactive-opacity {
  transition: opacity $default-transition-settings;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin active-opacity {
  transition: opacity $default-transition-settings;

  &:active {
    opacity: 0.5;
  }
}

@mixin text-underline ($bg-color) {
  display: inline;

  background-size: 1px 1em;

  box-shadow:
    inset 0 -0.05em $bg-color,
    inset 0 -0.1em currentColor;
}

@mixin text-underline-symbol-shadow($bg-color) {
  @include text-underline($bg-color);

  text-shadow:
    2px 2px $bg-color,
    2px -2px $bg-color,
    -2px 2px $bg-color,
    -2px -2px $bg-color;
}

@mixin full-width-vw {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

// elements

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin triangle($direction, $sizeH, $sizeV, $color) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;

  @if $direction == top {
    border-width: 0 $sizeV $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }

  @if $direction == bottom {
    border-width: $sizeV $sizeH 0 $sizeV;
    border-color: $color transparent transparent transparent;
  }

  @if $direction == left {
    border-width: $sizeV $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }

  @if $direction == right {
    border-width: $sizeV 0 $sizeV $sizeH;
    border-color: transparent transparent transparent $color;
  }

  @if $direction == topright {
    border-width: 0 $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }

  @if $direction == bottomright {
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }

  @if $direction == bottomleft {
    border-width: $sizeH 0 0 $sizeV;
    border-color: transparent transparent transparent $color;
  }

  @if $direction == topleft {
    border-width: $sizeH $sizeV 0 0;
    border-color: $color transparent transparent transparent;
  }
}

@mixin arrow($direction: down, $size: 5px, $color: #555) {
  width: 0;
  height: 0;

  @if ($direction == left) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }

  @else if ($direction == right) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }

  @else if ($direction == down) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }

  @else {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
}

//ADAPTIVE BACKGROUND
// webp needs modernizr 3.6.0 https://modernizr.com/download/?-webp-setclasses

//! example: @include make-adaptive-bg('img/test', 'png')
@mixin make-adaptive-bg($image-path, $imageType) {
  background-image: url(""+$image-path+"@1x."+$imageType);

  @include retina {
    background-image: url(""+$image-path+"@2x."+$imageType);
  }

  .webp & {
    background-image: url(""+$image-path+"@1x.webp");

    @include retina {
      background-image: url(""+$image-path+"@2x.webp");
    }
  }
}

@mixin no-adaptive-bg {
  background-image: none;

  @include retina {
    background-image: none;
  }

  .webp & {
    background-image: none;

    @include retina {
      background-image: none;
    }
  }
}
