@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes shakeXRightArrow {
  0% {
    transform: translateX(20%) rotate(-90deg);
  }

  100% {
    transform: translateX(-20%) rotate(-90deg);
  }
}

@keyframes shakeXLeftArrow {
  0% {
    transform: translateX(-20%) rotate(90deg);
  }

  100% {
    transform: translateX(20%) rotate(90deg);
  }
}

@keyframes disableBreakpointAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
