@function revolution($planet-year-in-days, $mult: 1) {
  @return $planet-year-in-days * $day-in-seconds * $mult + s;
}

@function alphaRandom() {
  @return random(1000) * 0.001;
}

@function asteroids($s, $max-area, $min-area : 0, $star-size : 0) {
  $stars : #{$min-area + random($max-area)}px #{$min-area + random($max-area)}px 0 #{$star-size}px rgba(255, 255, 255, 0.5);

  @for $i from 1 to $s {
    $stars: "#{$stars} , #{$min-area + random($max-area)}px #{$min-area + random($max-area)}px 0 #{$star-size}px rgba(255,255,255, #{alphaRandom()})";
  }

  @return unquote($stars);
}
