$mercury-orbit-speed: revolution($mercury-days);
$venus-orbit-speed: revolution($venus-days);
$earth-orbit-speed: revolution($earth-days);
$mars-orbit-speed: revolution($mars-days);
$asteroids-orbit-speed: revolution($asteroids-days);
$jupiter-orbit-speed: revolution($jupiter-days);
$saturn-orbit-speed: revolution($saturn-days);
$uranus-orbit-speed: revolution($uranus-days);
$neptune-orbit-speed: revolution($neptune-days);
$pluto-orbit-speed: revolution($pluto-days);

$orbits:
  "mercury" $mercury-orbit-speed "80px",
  "venus" $venus-orbit-speed "120px",
  "earth" $earth-orbit-speed "170px",
  "mars" $mars-orbit-speed "240px",
  "asteroids" $asteroids-orbit-speed "500px",
  "jupiter" $jupiter-orbit-speed "480px",
  "saturn" $saturn-orbit-speed "620px",
  "uranus" $uranus-orbit-speed "770px",
  "neptune" $neptune-orbit-speed "850px",
  "pluto" $pluto-orbit-speed "900px";


$mercury-spin: getspin($mercury-spin);
$venus-spin: getspin($venus-spin);
$earth-spin: getspin($earth-spin);
$mars-spin: getspin($mars-spin);
$jupiter-spin: getspin($jupiter-spin);
$saturn-spin: getspin($saturn-spin);
$uranus-spin: getspin($uranus-spin);
$neptune-spin: getspin($neptune-spin);
$pluto-spin: getspin($pluto-spin);

$planets:
  "mercury" "../img/content/mercury-bg.jpg" "8" "transparent" $mercury-spin,
  "venus" "../img/content/venus-bg.jpg" "14" "transparent" $venus-spin,
  "earth" "../img/content/earth-bg.jpg" "17" "transparent" $earth-spin,
  "mars" "../img/content/mars-bg.jpg" "14" "transparent" $mars-spin,
  "jupiter" "../img/content/jupiter-bg.jpg" "60" "transparent" $jupiter-spin,
  "saturn" "../img/content/saturn-bg.jpg" "40" "transparent" $saturn-spin,
  "uranus" "../img/content/uranus-bg.jpg" "30" "transparent" $uranus-spin,
  "neptune" "../img/content/neptune-bg.jpg" "25" "transparent" $neptune-spin,
  "pluto" "../img/content/mercury-bg.jpg" "10" "transparent" $pluto-spin;


$moon-speed: random($limit: 5) + s;
$phobos-speed: random($limit: 5) + s;
$deimos-speed: random($limit: 5) + s;
$io-speed: random($limit: 5) + s;
$europa-speed: random($limit: 5) + s;
$ganymed-speed: random($limit: 5) + s;
$callisto-speed: random($limit: 5) + s;
$titan-speed: random($limit: 5) + s;
$triton-speed: random($limit: 5) + s;
$titania-speed: random($limit: 5) + s;
$reya-speed: random($limit: 5) + s;
$oberone-speed: random($limit: 5) + s;

$satellites:
  "moon" "#ECDAB3" "2px" $moon-speed,
  "phobos" "#73611D" "3px" $phobos-speed,
  "deimos" "#394233" "2px" $deimos-speed,
  "io" "#BF8A14" "2px" $io-speed,
  "europa" "#7C5C3E" "2px" $europa-speed,
  "ganymed" "#7D9294" "4px" $ganymed-speed,
  "callisto" "#457771" "5px" $callisto-speed,
  "titan" "#4ABC91" "4px" $titan-speed,
  "triton" "#14444E" "3px" $triton-speed,
  "titania" "#8BF8D4" "2px" $titania-speed,
  "reya" "#7689E1" "2px" $reya-speed,
  "oberone" "#3B7072" "3px" $oberone-speed;
