.button {
  @include button-reset;
  @include transition(box-shadow);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 30px;
  min-width: 60px;
  // border: 1px solid $color-transparent;
  border-radius: $border-radius;
  line-height: 24px;
  background-color: $color-white;
  overflow: hidden;
  outline: none;

  &:active {
    box-shadow: inset 0 -3px 5px rgba($color: $color-black, $alpha: 0.5);
  }

  &--sheen {
    &::after {
      @include pseudo;

      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right bottom, $color-transparent 0%, rgba($color: $color-white, $alpha: 0.5) 50%, $color-transparent 100%);
      transform: translateX(-100%);
    }

    &:hover {
      &::after {
        animation: button-sheen $default-transition-timing $default-transition-ease;
      }
    }
  }
}
