.header {
  position: fixed;
  z-index: $header-z;
  right: 0;
  top: 0;
  display: flex;
  padding: 10px;
  min-height: 100vh;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  transform: translateX(220px);
  border-left: 1px solid $color-gainsboro;
  background-color: rgba($color: $color-nero, $alpha: 1);
  transition-property: transform border-color box-shadow;
  transition-duration: $default-transition-timing;
  transition-timing-function: $default-transition-ease;

  &__wrapper {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
  }

  a,
  p {
    color: $color-white;
  }

  ul {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;

    li {
      margin-right: 20px;
    }
  }

  &--opened {
    transform: translateX(0);
    box-shadow: -4px 0 15px rgba($color: $color-black, $alpha: 0.4);
    border-color: $color-transparent;

    .toggler {
      width: 100%;
      border-color: $color-white;
      color: $color-white;
    }
  }

  @include tablet {
    padding: 5px;
    min-width: 250px;
    transform: translateX(200px);

    &--opened {
      transform: translateX(0);
    }
  }

  @include mobile {
    left: 0;
    top: 0;
    right: auto;
    min-height: auto;
    transform: translateX(0);
    min-width: 100vw;
    border-left: none;
  }
}
