.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-nav__toggler {
  margin-bottom: 20px;
}

.main-nav__toolbar-section {
  display: flex;
}

.main-nav__button-wrap {
  display: flex;
  flex-direction: column;
}
