.toggler {
  @include button-reset;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 70px;
  border-radius: $border-radius;
  color: $color-white;
  border: 2px solid $color-white;
  transition: all $default-transition-settings;
  outline: none;

  @include min-laptop {
    &:hover {
      color: $color-gainsboro;
      border-color: $color-gainsboro;
    }
  }

  @include tablet {
    width: 40px;
    height: 50px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  @include mobile {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
  }
}
