.toggler {
  @include button-reset;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 70px;
  border-radius: 5px;
  color: $color-gainsboro;
  border: 2px solid $color-gainsboro;
  transition: all $default-transition-settings;
  outline: none;

  &:hover {
    color: $color-white;
    border-color: $color-white;
  }

  svg {
    fill: currentColor;
  }
}
