// Vendor
//---------------------------------

@import "vendor/normalize";
// @import "vendor/swiper";

// Global
//---------------------------------

@import "variables";
@import "global/functions";
@import "global/maps";
@import "global/animations";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
//---------------------------------

@import "blocks/**/*.scss";

// Components
//---------------------------------

@import "components/**/*.scss";

// @import "blocks/page.scss";
// @import "blocks/footer.scss";
// @import "blocks/header.scss";
// @import "blocks/modal.scss";

// используйте это для отключения ховеров на тач устройствах
// ! но не используйте это для текстовых полей ( input, textarea )
// также для любых transition обязательно указывайте transition-property
// transition: color $default-transition-settings, а не transition: $default-transition-settings

// @media (hover: hover), screen and (min-width: 0\0) {
//   &:hover,
//   &:focus {
//     color: red;
//   }
// }
