// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

$border-radius:                     5px;

// Base

$color-black:                     #0e0e0e;
$color-white:                     #f2f2f2;
$color-blue:                      #2c39f2;

$color-nero:                      #191919;
$color-jaguar:                    #1c192b;
$color-gainsboro:                 #b1adad;

// Gradient

$sky-gradient:                      radial-gradient(ellipse at 60% 50%, $color-jaguar 0%, $color-nero 70%, $color-black 100%);

// Typography
//---------------------------------

$font-family--:                     "", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-ease:           ease-out;
$default-transition-timing:         0.3s;
$default-transition-settings:       0.3s ease-out;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Z-indexes
//---------------------------------

$header-z:                          10;
$sky-z:                             1;
