// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

$border-radius:                     5px;

// Base

$color-black:                     #0e0e0e;
$color-white:                     $color-default-white;
$color-blue:                      #2c39f2;

$color-nero:                      #191919;
$color-jaguar:                    #1c192b;
$color-gainsboro:                 #dbd9d9;
$color-cadmium-orange:            #f28f3b;

// Gradient

$sky-gradient:                      radial-gradient(ellipse at 60% 50%, $color-jaguar 0%, $color-nero 70%, $color-black 100%);

// Typography
//---------------------------------

$font-family--main:                     "Montserrat", "Verdana", sans-serif;
$font-family--title:                    "Big Shoulders Display", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-ease:           ease-out;
$default-transition-timing:         0.3s;
$default-transition-settings:       0.3s ease-out;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$mobile:                            320px;
$tablet:                            768px;
$laptop:                            1024px;
$desktop:                           1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Z-indexes
//---------------------------------

$header-z:                          25;
$planet-z:                          5;
$rings-z:                          -1;
$sky-z:                             1;
$sun-z:                             100;
$orbit-z:                           50;
$solar-z:                           10;
$description-z:                     20;

// Perspective
//---------------------------------

$solar-perspective:                 400px;

// Perspective
//---------------------------------

// Orbit in days
//---------------------------------

:root {
  --delimeter: 1;
}

$day-in-seconds:                    0.01;

$mercury-days:                      87.97;
$venus-days:                        224.7;
$earth-days:                        365.2;
$mars-days:                         686.9;
$asteroids-days:                    1679;
$jupiter-days:                      432890;
$saturn-days:                       10752;
$uranus-days:                       30660;
$neptune-days:                      60115;
$pluto-days:                        90520;


// Spin in days
//---------------------------------

$mercury-spin:                      58.64;
$venus-spin:                        1;
$earth-spin:                        1;
$mars-spin:                         1.02;
$jupiter-spin:                      0.4;
$saturn-spin:                       0.4;
$uranus-spin:                       0.72;
$neptune-spin:                      0.67;
$pluto-spin:                        6.387;

// Asteroid Belt
// --------------------------------

$asteroid-belt-border:             1px solid rgba(102, 166, 229, 0.12);
$asteroid-orbit-outer:             400px;
$asteroid-orbit-inner:             300px;

// Satellites
// --------------------------------
