-
  const descriptionData = {
    title: "Solar",
    paras: [
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique fugiat eveniet sint quaerat reprehenderit ut consectetur autem voluptate earum, animi adipisci vitae. Delectus unde soluta, nesciunt rerum necessitatibus qui ullam, sit minima pariatur vero reiciendis blanditiis, beatae totam fugit inventore nulla itaque recusandae earum quasi harum at id voluptates eum cupiditate!",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi nulla officia blanditiis pariatur in nihil amet praesentium, deleniti vero."
    ],
    author: {
      name: "Kenan Agaev",
      git: "https://github.com/kenakula",
    },
    repo: {
      name: "github.com/kenakula/solar",
      link: "https://github.com/kenakula/solar",
    },
  }
