-
  const descriptionData = {
    title: "Solar",
    author: {
      name: "Kenan Agaev",
      git: "https://github.com/kenakula",
    },
    repo: {
      name: "github.com/kenakula/solar",
      link: "https://github.com/kenakula/solar",
    },
    perfomanceNote: "For better perfomance consider using wider screen",
    thanks: "Big thanks to content elves: Polina and Maria",
  }
