-
  const mainNav = {
    links: [
      {
        name: 'sun',
        dataModal: 'info',
        dataContent: 'sun',
      },
      {
        name: 'mercury',
        dataModal: 'info',
        dataContent: 'mercury',
      },
      {
        name: 'venus',
        dataModal: 'info',
        dataContent: 'venus',
      },
      {
        name: 'earth',
        dataModal: 'info',
        dataContent: 'earth',
      },
      {
        name: 'mars',
        dataModal: 'info',
        dataContent: 'mars',
      },
      {
        name: 'asteroids',
        dataModal: 'info',
        dataContent: 'asteroids',
      },
      {
        name: 'jupiter',
        dataModal: 'info',
        dataContent: 'jupiter',
      },
      {
        name: 'saturn',
        dataModal: 'info',
        dataContent: 'saturn',
      },
      {
        name: 'uranus',
        dataModal: 'info',
        dataContent: 'uranus',
      },
      {
        name: 'neptune',
        dataModal: 'info',
        dataContent: 'neptune',
      },
      {
        name: 'pluto',
        dataModal: 'info',
        dataContent: 'pluto',
        hasHeart: 'true',
      },
    ]
  };
-
