-
  const modalInfo = {
    list: [
      {
        dataContent: 'sun',
        title: 'The Sun',
        images: [
          'https://picsum.photos/1200/700',
          'https://picsum.photos/1201/700',
          'https://picsum.photos/1203/700',
          'https://picsum.photos/1202/700',
          'https://picsum.photos/1199/700',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'mercury',
        title: 'Mercury',
        images: [
          'https://picsum.photos/1200/701',
          'https://picsum.photos/1201/701',
          'https://picsum.photos/1203/701',
          'https://picsum.photos/1202/701',
          'https://picsum.photos/1199/701',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'venus',
        title: 'Venus',
        images: [
          'https://picsum.photos/1200/702',
          'https://picsum.photos/1201/702',
          'https://picsum.photos/1203/702',
          'https://picsum.photos/1202/703',
          'https://picsum.photos/1199/704',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'earth',
        title: 'Earth',
        images: [
          'https://picsum.photos/1200/705',
          'https://picsum.photos/1201/705',
          'https://picsum.photos/1203/705',
          'https://picsum.photos/1202/705',
          'https://picsum.photos/1199/705',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'mars',
        title: 'Mars',
        images: [
          'https://picsum.photos/1200/706',
          'https://picsum.photos/1201/706',
          'https://picsum.photos/1203/706',
          'https://picsum.photos/1202/706',
          'https://picsum.photos/1199/706',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'asteroids',
        title: 'Main Asteroid Belt',
        images: [
          'https://picsum.photos/1200/707',
          'https://picsum.photos/1201/707',
          'https://picsum.photos/1203/707',
          'https://picsum.photos/1202/707',
          'https://picsum.photos/1199/707',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'jupiter',
        title: 'Jupiter',
        images: [
          'https://picsum.photos/1200/708',
          'https://picsum.photos/1201/708',
          'https://picsum.photos/1203/708',
          'https://picsum.photos/1202/708',
          'https://picsum.photos/1199/708',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'saturn',
        title: 'Saturn',
        images: [
          'https://picsum.photos/1200/700',
          'https://picsum.photos/1201/700',
          'https://picsum.photos/1203/700',
          'https://picsum.photos/1202/700',
          'https://picsum.photos/1199/700',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'neptune',
        title: 'Neptune',
        images: [
          'https://picsum.photos/1200/700',
          'https://picsum.photos/1201/700',
          'https://picsum.photos/1203/700',
          'https://picsum.photos/1202/700',
          'https://picsum.photos/1199/700',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'uranus',
        title: 'Uranus',
        images: [
          'https://picsum.photos/1200/700',
          'https://picsum.photos/1201/700',
          'https://picsum.photos/1203/700',
          'https://picsum.photos/1202/700',
          'https://picsum.photos/1199/700',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
      {
        dataContent: 'pluto',
        title: 'Pluto',
        images: [
          'https://picsum.photos/1200/700',
          'https://picsum.photos/1201/700',
          'https://picsum.photos/1203/700',
          'https://picsum.photos/1202/700',
          'https://picsum.photos/1199/700',
        ],
        paras: [
          'Разнообразный и&nbsp;богатый опыт постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании направлений прогрессивного развития. Разнообразный и&nbsp;богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.',
        ],
      },
    ]
  }
