-
  const modalInfo = {
    list: [
      {
        dataContent: 'sun',
        title: 'The Sun',
        paras: {
          para1: 'The Sun is the Solar System\'s star and by far its most massive component. Its large mass (332,900 Earth masses), which comprises 99.86% of all the mass in the Solar System, produces temperatures and densities in its core high enough to sustain nuclear fusion of hydrogen into helium, making it a main-sequence star. This releases an enormous amount of energy, mostly radiated into space as electromagnetic radiation peaking in visible light.',
          para2: 'The Sun is a G2-type main-sequence star. Hotter main-sequence stars are more luminous. The Sun\'s temperature is intermediate between that of the hottest stars and that of the coolest stars. Stars brighter and hotter than the Sun are rare, whereas substantially dimmer and cooler stars, known as red dwarfs, make up 85% of the stars in the Milky Way.',
          para3: 'The vast majority of the Solar System consists of a near-vacuum known as the interplanetary medium. Along with light, the Sun radiates a continuous stream of charged particles (a plasma) known as the solar wind. This stream of particles spreads outwards at roughly 1.5 million kilometres per hour, creating a tenuous atmosphere that permeates the interplanetary medium out to at least 100 AU (see ยง Heliosphere). Activity on the Sun\'s surface, such as solar flares and coronal mass ejections, disturbs the heliosphere, creating space weather and causing geomagnetic storms. The largest structure within the heliosphere is the heliospheric current sheet, a spiral form created by the actions of the Sun\'s rotating magnetic field on the interplanetary medium.',
        },
      },
      {
        dataContent: 'mercury',
        title: 'Mercury',
      },
      {
        dataContent: 'venus',
        title: 'Venus',
      },
      {
        dataContent: 'earth',
        title: 'Earth',
      },
      {
        dataContent: 'mars',
        title: 'Mars',
      },
      {
        dataContent: 'asteroids',
        title: 'Main Asteroid Belt',
      },
      {
        dataContent: 'jupiter',
        title: 'Jupiter',
      },
      {
        dataContent: 'saturn',
        title: 'Saturn',
      },
      {
        dataContent: 'neptune',
        title: 'Neptune',
      },
      {
        dataContent: 'uranus',
        title: 'Uranus',
      },
      {
        dataContent: 'pluto',
        title: 'Pluto',
      },
    ]
  }
