-
  const sunImage = {
    path: 'content',
    image: 'sun-bg',
    format: 'png',
    altText: 'солнце',
    width: 60,
    height: 60,
  };

  const mercury = {
    name: 'mercury',
    speed: '8.797',
  };

  const venus = {
    name: 'venus',
    speed: '22.47',
  };

  const earth = {
    name: 'earth',
    speed: '36.52',
  };

  const mars = {
    name: 'mars',
    speed: '68.69',
  };

  const asteroidBelt = {
    name: 'asteroids',
    speed: '167.9',
  }

  const jupiter = {
    name: 'jupiter',
    speed: '4328.90',
  };

  const saturn = {
    name: 'saturn',
    speed: '1075.2',
  };

  const uranus = {
    name: 'uranus',
    speed: '306.60',
  };

  const neptune = {
    name: 'neptune',
    speed: '6011.5',
  };

  const pluto = {
    name: 'pluto',
    speed: '905.20',
  };
