-
  const sunImage = {
    path: 'content',
    image: 'sun-bg',
    format: 'png',
    altText: 'солнце',
    width: 60,
    height: 60,
  };

  const mercury = {
    name: 'mercury',
  };

  const venus = {
    name: 'venus',
  };

  const earth = {
    name: 'earth',
  };

  const mars = {
    name: 'mars',
  };

  const asteroidBelt = {
    name: 'asteroids',
  }

  const jupiter = {
    name: 'jupiter',
  };

  const saturn = {
    name: 'saturn',
  };

  const uranus = {
    name: 'uranus',
  };

  const neptune = {
    name: 'neptune',
  };

  const pluto = {
    name: 'pluto',
  };
