-
  const sunImage = {
    path: 'content',
    image: 'sun-bg',
    format: 'png',
    altText: 'солнце',
    width: 60,
    height: 60,
  };

  const mercury = {
    name: 'mercury',
    modal: 'info',
    content: 'mercury',
    speed: '8.797',
  };

  const venus = {
    name: 'venus',
    speed: '22.47',
    modal: 'info',
    content: 'venus',
  };

  const earth = {
    name: 'earth',
    speed: '36.52',
    modal: 'info',
    content: 'earth',
    satellites: [
      {
        name: 'moon',
      }
    ]
  };

  const mars = {
    name: 'mars',
    speed: '68.69',
    modal: 'info',
    content: 'mars',
    satellites: [
      {
        name: 'phobos',
      },
      {
        name: 'deimos',
      }
    ]
  };

  const asteroidBelt = {
    name: 'asteroids',
    speed: '167.9',
  }

  const jupiter = {
    name: 'jupiter',
    speed: '4328.90',
    modal: 'info',
    content: 'jupiter',
    satellites: [
      {
        name: 'io',
      },
      {
        name: 'europa',
      },
      {
        name: 'ganymed',
      },
      {
        name: 'callisto',
      },
    ]
  };

  const saturn = {
    name: 'saturn',
    speed: '1075.2',
    modal: 'info',
    content: 'saturn',
    satellites: [
      {
        name: 'titan',
      },
      {
        name: 'reya',
      }
    ]
  };

  const uranus = {
    name: 'uranus',
    speed: '306.60',
    modal: 'info',
    content: 'uranus',
    satellites: [
      {
        name: 'titania',
      },
      {
        name: 'oberone',
      }
    ]
  };

  const neptune = {
    name: 'neptune',
    speed: '6011.5',
    modal: 'info',
    content: 'neptune',
    satellites: [
      {
        name: 'triton',
      }
    ]
  };

  const pluto = {
    name: 'pluto',
    speed: '905.20',
    modal: 'info',
    content: 'pluto',
  };
