.description {
  position: absolute;
  z-index: $description-z;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 10px;
  height: 100vh;

  h1 {
    margin: 0;
    margin-bottom: 20px;
    font-family: $font-family--title;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: 0.02em;
    color: $color-white;
  }

  @include tablet {
    width: 35%;
  }

  @include mobile {
    flex-direction: row;
    padding-top: 70px;
    width: 100%;
    height: auto;

    h1 {
      font-size: 70px;
      line-height: 80px;
    }
  }
}

.description__button {
  @include button-reset;

  position: absolute;
  right: 9px;
  bottom: 90px;
  display: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $color-white;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  outline: none;
  -webkit-tap-highlight-color: $color-transparent;

  @include mobile {
    display: block;
  }
}

.description__info {
  margin-top: auto;

  @include mobile {
    position: absolute;
    top: 120px;
    left: 50%;
    display: none;
    flex-direction: column;
    opacity: 0;
    padding: 40px 15px 25px;
    width: 280px;
    border-radius: 10px;
    background-color: rgba($color: $color-black, $alpha: 0.8);
    backdrop-filter: blur(5px);
    transform: translateX(-50%);
    animation: fadeInFromNone 0.3s ease-in;

    &.active {
      display: flex;
      opacity: 1;
    }
  }
}

.description__text {
  color: $color-white;
  text-align: center;

  strong {
    display: none;
    margin-bottom: 20px;
    font-size: 20px;

    @include mobile {
      display: block;
    }
  }

  p {
    margin: 0;
    margin-bottom: 40px;
    font-size: 14px;
    max-width: 240px;
    text-align: left;

    @include mobile {
      margin-bottom: 70px;
      max-width: 100%;
      font-size: 16px;
      text-align: center;
    }
  }
}

.description__credits {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 20px;

  a {
    @include transition(opacity);
    color: $color-white;

    @include min-laptop {
      &:not(:last-child):hover {
        opacity: 0.7;
      }
    }
  }

  @include mobile {
    align-items: flex-start;
  }
}

.description__author {
  opacity: 0.2;
  font-size: 10px;
  line-height: 18px;

  @include tablet {
    font-size: 12px;
  }

  @include tablet {
    font-size: 10px;
  }
}
