mixin preload
  .preload.preload--show.js-preload
    .preload__spinner
      .spinner
        .spinner__element
          .spinner__inner
        .spinner__element
          .spinner__inner
        .spinner__element
          .spinner__inner
        span.spinner__center
    .preload__text Loading ...
